@if (withSlider) {
<div
  class="categories-carousel-wrap"
  role="region"
  [attr.aria-label]="('CATEGORIES_CAROUSEL_ARIA' | translate | async) || 'Categories'"
>
  <p class="categories-carousel-hint" aria-hidden="true">{{ 'CATEGORIES_CAROUSEL_HINT' | translate | async }}</p>
  <app-carousel
    [intervalForSlider]="carouselIntervalMs"
    [showDots]="carouselShowDots"
    [autoAdvance]="carouselAutoAdvance"
  >
    <ng-container *ngTemplateOutlet="categoriesTemplate"></ng-container>
  </app-carousel>
</div>
} @if (!withSlider) {
<div class="categories-list">
  <ng-container *ngTemplateOutlet="categoriesTemplate"></ng-container>
</div>
}

<ng-template #categoriesTemplate>
  @for (category of displayCategories(); track category.titleUrl) {
  <div class="category_card" [class.category_card--sub]="!!category.parentTitleUrl">
    <a
      class="category_card-image"
      [ngClass]="category.mainImage?.type ? 'category_card-image-cover' : ''"
      [routerLink]="['/' + lang + '/product/category/' + category.titleUrl]"
      [attr.aria-labelledby]="category.titleUrl"
      [style.background]="'url(' + category.mainImage?.url + ')'"
    >
      <span class="category_card-overlay">
        <span class="category_card-info">
          <h2 class="category_card-title">{{ category?.title }}</h2>
          @if (category?.description) {
          <p class="category_card-description">
            {{ category?.description }}
          </p>
          }
        </span>
      </span>
    </a>
  </div>
}
</ng-template>
